<div class="row">
    <div class="col-sm-12">
        <div class="header"></div>
        <div id="messages"></div>
        <div class="row" style="padding-top: 2px">
            <form class="col-sm-11" id="msgForm">
                <div class="row">
                    <div class="col-sm-11">
                        <input id="name" type="hidden" value="{{user.name}}">
                        <input id="username" type="hidden" value="{{user.username}}">

                        <input id="message" autocomplete="off" autofocus="on" placeholder="type your message here..." class="form-control"/>
                    </div>
                    <div class="col-sm-1">
                        <button id="send" class="btn btn-success" style="padding: auto 4px; float:right">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-1">
                <input type="file" id="fileInput" />
                <button class="btn btn-success btn-flat" id="fileInputButton">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </button>
            </div>
        </div>
    </div>

        <div class="chat-users">
          <div class = "chat-users-details">
            <button data-toggle="collapse" data-target="#onlineUSers" id="onlineUsersButton" class="btn btn-primary btn-block online-user-button-position">Online Users</button>
            <div id="onlineUSers" class="collapse"></div>
          </div>
        </div>

</div>
<div id="a"></div>

<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/emoji/jquery.emojipicker.css">

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> --}}
<script type="text/javascript" src="/javascripts/emoji/jquery.emojipicker.js"></script>

<!-- Emoji Data -->
<link rel="stylesheet" type="text/css" href="/stylesheets/emoji//jquery.emojipicker.tw.css">
<script type="text/javascript" src="/javascripts/emoji/jquery.emojis.js"></script>
<script src='/javascripts/chat.js'/></script>
