.message_box{
  height: 80vh;
}
.messages {
  height: 85%;
  background-color: black;
  overflow: auto;
  color: #fff;
  padding: 30px 15px 0 25px;
}

.header{
  background-color: #28a745;
  height: 50px;
}

.incoming_msg_name {
  display: inline-block;
  width: 6%;
}


.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.chat_img{
  max-width: 100%;
  max-height: 200px;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg { width: 57%;}

.chat_people{ overflow:hidden; clear:both;}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.chat_users_details{
  position: absolute;
  bottom: 10px;
  width: 250px;
  right: 25px;
  height: 80vh;
}

.online_user_button_position{
  position: absolute;
  bottom: 0;
}

#onlineUSers{
  height: 90%;
  border: 1px solid;
  overflow-y: auto;
  background: white;
}

#fileInput {
  display:none;
}
.modal-content{
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  display: none;
}

.spinner{
  position: absolute;
  top: 30%;
  left: 30%;
}
.overlay_class{
  z-index: 1;
}

@media screen and (max-device-width: 640px){
  .message_box{
    height: 60vh;
    width: 80%;
    margin-left: 10%;
  }
  .chat_users_details{
    height: 60vh; 
   }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  .message_box{
    height: 60vh;
    width: 100%;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
  .message_box{
    height: 30vh;
    width: 80%;
    margin-left: 10%;
  }
  .chat_users_details{
    height: 50vh; 
   }
}

@media screen and (max-device-width: 768px) and (orientation: landscape){
  .message_box{
    height: 50vh;
    width: 80%;
    margin-left: 10%;
  }
  .chat_users_details{
    height: 50vh; 
    bottom: 15px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .message_box{
    height: 70vh;
    width: 80%;
    margin-left: 10%;
  }
}



/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
  .message_box{
    height: 70vh;
    width: 80%;
    margin-left: 10%;
  }
  .chat_users_details{
   height: 80vh; 
  }  
}